.edit-user-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .edit-user-title {
    color: #d63384;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .edit-user-message {
    color: #d63384;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .edit-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    color: #d63384;
    font-weight: bold;
    text-align: left;
  }
  
  .form-input, .form-select {
    width: 100%;
    padding: 10px;
    border: 2px solid #d63384;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .edit-user-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .edit-user-button:hover {
    background-color: #45a049;
  }
.back-to-list-button {
    width: 100%;
    padding: 10px;
    background-color: #d63384;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .back-to-list-button:hover {
    background-color: #e85d90;
  }
  