.register-container {
    min-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
  
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .register-title {
    color: #d63384; 
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  .register-message {
    color: #d63384;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
 
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
 
  .form-label {
    display: block;
    margin-bottom: 5px;
    color: #d63384; 
    font-weight: bold;
    text-align: left;
  }
  
  .form-input, .form-select {
    width: 100%;
    padding: 10px;
    border: 2px solid #d63384; 
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
 
  .register-button {
    width: 100%;
    padding: 10px;
    background-color: #d63384;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .register-button:hover {
    background-color: #e85d90;
  }
  
  
  .login-redirect-button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #f8d7da;
    color: #d63384;
    border: 2px solid #d63384;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-redirect-button:hover {
    background-color: #fad4d8;
    color: #d63384;
  }
  